#Кодировка по умолчанию utf-8
AddDefaultCharset utf-8

#Модуль перенаправления
RewriteEngine On
#Когда пользователь обратится к корню сайта мы его перенаправим в public
#Это защищает нас от доступа к остальным папкам юзерами
#RegExp (.*) = все запросы, и направляем в public/(запрос)
RewriteRule (.*) public/$1